body{
	/*background:#fffbcc;*/
	/*background-color: #ffd863;*/
	
}

#menu{
	padding-left: 0px;
}

#menu > ul {
	list-style: none;
	margin-left: -40px;
	 /*padding: 0;
        list-style: none;
        background: #f2f2f2;*/
}

#menu > ul > li{
	display: inline-block;
	position: relative;
	/*display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;*/
}

#menu > ul > li > a{
	margin: auto 0;
	display: inline-block;
	padding-right: 20px;
	padding-left: 20px;
	padding-top:12px; 
	margin-right: 6px;
	margin-bottom: 10px;
	height: 50px;
	text-decoration: none;
	background:#4a4a4a; /*FFAEAE*/
	color: #fff;
	font-size: 14px;
	border-top: solid 4px #5fc1f3; 
	position: relative;
}

/* Sub Menus */
#menu ul li ul {
	position: absolute;
	display: none;
	list-style: none;
	background:#4a4a4a;
	opacity: 0.9;
	z-index: 999;
    left: 0;
    margin-top: -10px;
    padding-left: 0px;
}

#menu li:hover ul {
	display: block;
}

#menu li ul li {
	display: block;
	width: inherit;
}

#menu li ul li a{
	display: block;
	padding-left: 0px;
	color: #fff;
	text-decoration: none;
	min-height:40px;
	min-width: 180px;
	padding:15px 20px 10px 20px;
}

.incontent{
	/*padding:5px 5px 5px 5px;*/
	color:#fff;
	text-align: center;
	margin-bottom: 10px;
}

.incontent p{
	padding:8px 8px 8px 8px;
	text-align: justify;
	font-size: 15px;
	height: 135px;	
}

h2{
	margin:0;
	height:60px;
	font-size: 20px;
	font-weight: bold;
	background:#a79ba9;
	padding:10px 6px 6px 8px;
}

#shout {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    margin-bottom: 10px;
    overflow-y: auto;
}

.mybutton{
	text-align: center;
	width: 90%;
}

input{
	margin-bottom: 8px;
}

.button-navigation{
	width: 20px;
	height: 80px;
	margin-top: 290px;
	margin-left: -5px;
	border-radius: 0px 5px 5px 0px;
	display: block;
	position: fixed;
	background: url(../img/right-arrow.png) no-repeat;
	background-size: 15px 50px;
	background-color: #444444;
	background-position: center;
	z-index: 20000;
}

/*login here*/
.loginbox{
	margin-top:150px;
	box-shadow:0px 0px 20px 0px;
	background:#fff;
	border-radius:5px;
}

.loginbox hr{
	width: 100%;
	background: #000;
	position: relative;
}

.my-content h1{
	margin-bottom:30px;
}

.my-content h4{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.myarticles{
	border: solid 1px #d5d5d5;
	padding-right: 0px;
	margin-bottom: 10px;
}

.myarticles h4{
	margin-left: -15px;
	margin-top: 0px;
	padding-left: 15px;
	font-size: 24px;
}

.myarticles p{
	padding-right: 15px;
}

.cover-album{
	
}